@import "./Sass/fonts.scss";

body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .footer {
    margin-top: auto;
    background: #020b24;
    color: #fff;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;

  .logo-city {
    display: flex;

    img {
      height: 200px;
      width: 200px;
    }

    .city-name {
      @extend %heading-delta;
      padding: 25px 10px;
    }
  }
  svg {
    padding: 10px;
  }

  .nav-bar {
    ul {
      display: flex;
      @extend %heading-delta;
      li {
        list-style-type: none;
        padding: 10px;
      }
    }
  }
}

.body-container {
  background: lightgrey;
}

.res-container {
  max-width: 1500px;
  margin: 0 auto;

  .input-container {
    text-align: left;
    margin: 5px 30px;

    button {
      margin: 5px;
      border-radius: 5px;
      border-color: antiquewhite;
      background: burlywood;
      text-transform: capitalize;
    }
  }

  .res-cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .res-card {
    margin: 10px;
    padding: 10px 20px;
    height: 430px;
    width: 300px;

    .image-wrapper {
      height: 300px;
      width: 300px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    .text-wrapper {
      text-align: left;
      width: 95%;
      margin-top: 10px;

      .restro-name {
        @extend %heading-subhead;
        margin-bottom: 5px;
      }

      .restro-rating {
        @extend %baseline-body;
        color: rgba(2, 6, 12, 0.6);
        font-weight: 400;
        margin-bottom: 5px;
        display: flex;

        span {
          padding-left: 5px;
        }
      }

      .restro-cuisines,
      .restro-locality {
        @extend %baseline-body;
        margin-bottom: 5px;
      }
    }
  }

  .shimmer {
    .restro-name {
      background: #808080;
      height: 20px;
      width: 60px;
      margin-bottom: 5px;
    }

    .restro-rating {
      background: #808080;
      height: 20px;
      width: 40px;
      margin-bottom: 5px;
    }

    .restro-cuisines {
      background: #808080;
      height: 20px;
      width: 90px;
      margin-bottom: 5px;
    }

    .restro-locality {
      background: #808080;
      height: 20px;
      width: 50px;
      margin-bottom: 5px;
    }
  }
}
