@import "./Sass/fonts.scss";

body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .footer {
    margin-top: auto;
    background: #020b24;
    color: #fff;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;

  .logo-city {
    display: flex;

    img {
      height: 200px;
      width: 200px;
    }

    .city-name {
      @extend %heading-subhead;

      padding: 25px 10px;
    }
  }
  svg {
    padding: 10px;
  }

  .nav-bar {
    ul {
      display: flex;
      @extend %heading-delta;
      li,
      a {
        list-style-type: none;
        padding: 25px;
        text-decoration: none;
        color: #000;
      }
    }
  }
}

.body-container {
  background: lightgrey;
}

.res-container {
  background: lightgrey;

  .input-container {
    padding-top: 15px;

    input {
      border-radius: 5px;
      border: 1px solid lightgray;
      padding: 5px;
      width: 160px;
    }

    button {
      margin: 5px;
      border-radius: 5px;
      border: none;
      background: burlywood;
      text-transform: capitalize;
      cursor: pointer;
      padding: 5px;
    }
  }

  .res-cards-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
  }
  .res-card {
    margin: 10px;
    padding: 10px 20px;
    height: 430px;
    width: 300px;
    cursor: pointer;

    &:hover {
      transform: scale(0.95, 0.95);
      transform-origin: center center;
      transition: all 0.1s ease-in 0s;
    }

    .image-wrapper {
      height: 300px;
      width: 300px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    .text-wrapper {
      text-align: left;
      width: 95%;
      margin-top: 10px;

      .restro-name {
        @extend %heading-subhead;
        margin-bottom: 5px;
      }

      .restro-rating {
        @extend %baseline-body;
        color: rgba(2, 6, 12, 0.6);
        font-weight: 400;
        margin-bottom: 5px;
        display: flex;

        span {
          padding-left: 5px;
        }
      }

      .restro-cuisines,
      .restro-locality {
        @extend %baseline-body;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .shimmer {
    .restro-name {
      background: #808080;
      height: 20px;
      width: 60px;
      margin-bottom: 5px;
    }

    .restro-rating {
      background: #808080;
      height: 20px;
      width: 40px;
      margin-bottom: 5px;
    }

    .restro-cuisines {
      background: #808080;
      height: 20px;
      width: 90px;
      margin-bottom: 5px;
    }

    .restro-locality {
      background: #808080;
      height: 20px;
      width: 50px;
      margin-bottom: 5px;
    }
  }
}

.shimmer-effect {
  color: grey;
  display: inline-block;
  /* adding gradients */
  -webkit-mask: linear-gradient(90deg, #000 25%, #0005, #000 75%) right/250%
    100%;
  /* shimmer effect animation */
  animation: shimmer 2.5s infinite;
  background-repeat: no-repeat;
  width: 500px;

  img {
    height: 169px;
    width: 300px;
  }
}
@keyframes shimmer {
  100% {
    /* setting up mask position at left side */
    -webkit-mask-position: left;
  }
}
